<template name="notifications">
    {{#if notificationCount}}
<span><a id="clear-notifications" href="#">Clear Notifications</a></span>
      {{#each notifications}}
        {{> notification}}
      {{/each}}
    {{else}}
      <li><span>No Notifications</span></li>
    {{/if}}
</template>

<template name="notification">
  <li>
    <a href="{{postPagePath postId}}">
      {{#if isComment}}
      <strong>{{commenterNames}}</strong> commented on your issue: "{{postTitle}}"
      {{/if}}
      {{#if isResolution}}
      <strong>{{commenterNames}}</strong> resolved your issue: "{{postTitle}}"
      {{/if}}
    </a>
  </li>
</template>
