<template name="header">
  <div class="pure-menu pure-menu-horizontal pure-menu-open">
      <ul>
        <li> 
          <a href="#"> Notifications </a>
          <ul>
            <li>
             {{> notifications}}
            </li>
          </ul>
        </li>

        <li> 
          Filter
          <ul>
            {{#each tags}}
            <li><a class="tag">{{{isActiveTag name}}}</a></li>
            {{/each}}
          </ul>
        </li>
        <li class="{{activeRouteClass  'home' 'topPosts'}}">
        <a href="{{topPostsPath}}">Top Issues</a>
        </li>
        <li class="{{activeRouteClass 'newPosts'}}">
          <a href="{{newPostsPath}}">New Issues</a>
        </li>
        <li class="{{activeRouteClass 'resolvedPosts'}}">
          <a href="{{resolvedPostsPath}}">Resolved Issues</a>
        </li>
        {{#if isAdmin}}
        <li>
          Admin Actions
          <ul>
            <li>
              <a href="{{tagsAdminListPath}}">Manage Tags</a>
            </li>
            <li>
              <a href="{{userListPath}}">Manage Users</a>
            </li>
          </ul>
        </li>
        {{/if}}
        {{#if currentUser}}
          <li>
            <a href="{{postSubmitPath}}">Submit Issue</a>
          </li>
        {{/if}} 
        <li>
          <a href="/logout" class="logout">Logout</a>
        </li>
      </ul>
    </div>
  </header>
</template>
