<template name="header">
  <div id="demo-horizontal-menu">
      <ul id="std-menu-items">
        <li> 
          <a href="#"> Notifications </a>
          <ul>
            <li>
             {{> notifications}}
            </li>
          </ul>
        </li>
        <li> 
          <a href="#"> Filter </a>
          <ul>
            <li class="{{activeRouteClass  'home' 'bestPosts'}}">
              <a href="#">Hottest Issues</a>
            </li>
            <li class="{{activeRouteClass 'newPosts'}}">
              <a href="{{newPostsPath}}">All Issues</a>
            </li>
            <li class="{{activeRouteClass 'resolvedPosts'}}">
              <a href="{{resolvedPostsPath}}">Resolved Issues</a>
            </li>
        </li>
        <li> 
          <a href="#"> User </a></li>
          {{#if isAdmin}}
              <li>
                <a href="{{userListPath}}">Manage Users</a>
              </li>
            {{/if}}
            {{#if currentUser}}
              <li>
                <a href="{{postSubmitPath}}">Submit Issue</a>
              </li>
            {{/if}} 
      </ul>
    </div>
  </header>
</template>
