$mobile = 480px
$tablet = 768px
$default = 980px
$desktop = 1200px

/*old color c2c2c2*/
grey = #A8A5A5
transparent-white = rgba(255,255,255,0.2)
* 
    box-sizing: border-box
    -webkit-box-sizing: border-box
    font-family: 'Lato', sans-serif;

html, body, .container, .main
    width:100%
    height:100%

nav ul 
    position:absolute
    right:15px
    ul
        display:none
        li
            float: none;
            text-align: center;
            margin-bottom: 10px;
    li
        float:left
        margin-left:20px
        a
            text-decoration:none
            color:white
    :hover > ul
        display:block
        float:auto
        color:white
        text-decoration:none

#main
    padding-top:50px

body
    background:url('/images/purpleBlur.jpg')
    background-position:center
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed

/*login page*/
.splash
    background:transparent-white
    margin:auto
    position:absolute
    top:0;right:0;bottom:0;left:0;
    height:360px
    max-width:560px
    width:100%
    text-align:center
    color:#fff
    a
        text-decoration:none
        color:#fff
    p
        padding: 0px 5% 0px 5%

#login-title
    font-size:2.5em
    font-family:"Lato", sans-serif
    font-weight:400

.upvote-container
    width:120px
    height:50px
    float:left
    margin-top:50px
    margin-left:25px
    border: solid #fff 1px
    position:relative
    text-align: center
    line-height: 50px
    a
        text-decoration: none
        color: #fff



.pure-menu.pure-menu-open, .pure-menu.pure-menu-horizontal li  .pure-menu-children
    background: transparent
    border:none
    .pure-menu-children
        float:right
        .pure-menu-label
            color:white

          

.navbar { margin-bottom: 10px }
.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px;
}
#spinner { height: 300px }

.whiteblur
        background:#fff
        pointer-events: none
        opacity:0.3
.post 
    height:150px
    margin-bottom:10px
    width: -webkit-calc(unquote("100% - 50px"))
    width: -moz-calc(unquote("100% - 50px"))
    width: calc(unquote("100% - 50px"))
    max-width:1100px
    margin-left:auto
    margin-right:auto
    *zoom: 1;
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
    position: relative;
    opacity: 1;
    .post-background
        position:absolute
        width:100%
        height:100%
    .comment
        opacity:none
    .post-content-wrapper
        position:relative
        margin-left: 150px
        margin-top: 5px
        .post-content-container
            .post-content
                padding:15px
                .post-title
                    text-decoration:none
                    color:white
                    font-size:1.2em
                    font-weight: 400
                p
                    color:grey
                    font-size: 0.8em
                .post-comment
                    text-decoration:none
                    color:grey
                    float: right
                    margin-right: 100px
    .post-body-detail
        padding:20px 20px 20px 20px
        h3
            color:grey
            margin-bottom: 0px
        p
            color:white
            margin-top: 5px
            margin-bottom: 0px
            font-weight: 300
    ul
        padding: 0px
        list-style-type: none
    h4
        color:grey
        font-size:1.17em
        margin: 0px
   .comment-form
        padding: 5px 15px
        .control-group
            .controls
                textarea
                    width: 100%
                    padding: 5px 15px
                    -moz-padding-end: 5px 15px;
                    -moz-padding-start: 5px 15px;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    background:transparent
                    outline:1px
                    border: 1px solid white
                    color:white

/*details page*/
.auto-height-post
    height: auto
#details
    margin-top: 0px
#comment-label
    color:grey
    margin-top:0px

.load-more-container
    width:200px
    height:50px
    border: solid white 1px
    margin-left:auto
    margin-right:auto
    background: transparent-white
    padding: 12px 0px 0px 42px
    a
        color:white
        font-size:1.17em
        text-decoration:none

/*Sumbit an Issue*/
.form-contents
    width: -webkit-calc(unquote("100% - 50px"))
    width: -moz-calc(unquote("100% - 50px"))
    width: calc(unquote("100% - 50px"))
    margin-left: auto
    margin-right: auto
    max-width:1100px
    h3
        color: white
        size: 1.17em
        margin: 0
        font-weight: 400
    .inner-forms
        margin: 5px 0px 0px 0px
        padding-bottom: 10px;
        position: relative
        .submit-background
            position: absolute
            height: 100%
            width: 100%
        .submit-foreground
            padding: 15px
            .control-group
                margin-bottom: 8px
                position: relative
                color: white
            #post-submit-container
                float: right
                label
                    font-weight: 300
                input[type="checkbox"], label
                    float: right
                input[type="checkbox"]
                    margin-left: 5px
                    margin-top: 2px
                input[type="submit"]
                    font-family: Lato
                    font-weight: 300
            .control-label
                display: block
                color: grey
                margin-bottom: 3px
            /*Textbox*/
            .block-level
                width: 100%
                padding: 5px 15px
                -moz-padding-end: 5px 15px;
                -moz-padding-start: 5px 15px;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                background:transparent
                outline:1px
                border: 1px solid white
                color:white
            .filter
                font-weight: 300
            .tag-label-class
                display: inline-block
                margin-right: 5px
            #select-tag
                width: -webkit-calc(unquote("100% - 170px"))

/*Submit Button Styling*/
button[type="submit"]
    margin-top: 3px
    width:160px
    height:40px
    border: none
    position:relative
    text-align: center
    background: rgba(255, 255, 255, .3)
    font-size: 1.5em
    text-decoration: none
    font-weight: 300
    color: white
    &:hover
        background-color: rgba(255, 255, 255, 0.2)

/*Checkboxe Styling*/
input[type="checkbox"]
    -webkit-appearance: none
    background-color: transparent-white
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05)
    padding: 7px
    display: inline-block
    position: relative
input[type="checkbox"], input[type="checkbox"]:checked:active
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1)
input[type="checkbox"]: checked
    background-color: #e9ecee
    border: 1px solid #adb8c0 
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px-12px rgba(255,255,255,0.1)
    color: #99a1a7
input[type="checkbox"]:checked:after
    content: '\2715'
    font-size: 12px
    position: absolute
    top: 0px
    left: 3px
    color: #FFF

@media screen and (max-width: 980px)
    .post
        margin-left:25px


@media screen and (max-width: 768px)
    .post
        margin-left:25px



@media screen and (max-width: 480px)
    nav
        ul
            li
                margin-left:10px
        li
            a
                font-size:0.8em
    .post
        .upvote-container
            width:80px
            a
                font-size:0.8em
        .post-content-wrapper
            margin-left: 120px
            position: absolute
            font-size:0.8em
            .post-content-container
                .post-content
                    padding:0px
    .splash
        height:55%
        #login-title
            margin-bottom:auto
            font-size:1.8em
        p
            font-size:0.7em
    .form-contents
        .inner-forms
            .submit-foreground
                /*tags readjust to below submit button*/
                #select-tag
                    display: inline-block
                    width: -webkit-calc(unquote("100% - 50px"))
                    width: -moz-calc(unquote("100% - 50px"))
                    width: calc(unquote("100% - 50px"))
                .block-level
                    padding: 2px 5px
                    -moz-padding-end: 2px 5px;
                    -moz-padding-start: 2px 5px;
        #post-submit-container
            width: 100%
            input[type="submit"]
                width: 100%
