$mobile = 480px
$tablet = 768px
$default = 980px
$desktop = 1200px

$grey = #c2c2c2
* 
    box-sizing: border-box
    -webkit-box-sizing: border-box
    font-family: 'Montserrat', sans-serif;

html, body, .container, .main
    width:100%
#main
    padding-top:50px

.container
    background:url('/images/purpleBlur.jpg')
    background-position:center
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed


.upvote-container
    width:100px
    height:50px
    padding: 12px 5px 5px 5px
    float:left
    margin-top:50px
    margin-left:25px
    border: solid #fff 2px
    position:relative
    a
        text-decoration:none
        color:white

.pure-menu.pure-menu-open, .pure-menu.pure-menu-horizontal li  .pure-menu-children
    background: transparent
    border:none
    .pure-menu-children
        float:right
        .pure-menu-label
            color:white

          

.navbar { margin-bottom: 10px }
.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px;
}
#spinner { height: 300px }

.whiteblur
        background:#fff
        pointer-events: none
        opacity:0.3
.post 
    height:150px
    margin-bottom:10px
    width: calc(unquote("100% - 20px"))
    margin-left:10px
    *zoom: 1;
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
    position: relative;
    opacity: 1;
    .post-background
        position:absolute
        width:100%
        height:100%
    .comment
        opacity:none
    .post-content-wrapper
        position:relative
        float:left
        width:250px
        margin-left: 25px
        margin-top: 5px
    .post-content-box
        position:relative
        padding: 0px 25px
        .post-content-title
            color:grey
            font-size:2em
    .post-container-wrapper
        .post-content-container
            .post-content
                h3
                    text-decoration:none
                    color:white
                    a
                        text-decoration:none
                        color:white
                p
                    color:grey
                    font-size: 0.8em
                    a
                        color:grey

.load-more-container
    width:200px
    height:50px
    border: solid white 1px
    margin-left:auto
    margin-right:auto
    background:rgba(255,255,255,0.3)
    padding: 12px 0px 0px 42px
    a
        color:white
        font-size:1.17em
        text-decoration:none

@media screen and (min-width: 480px)
    .post 
        width: calc(unquote("100% - 50px"))
        margin-left:25px

@media screen and (min-width: 768px)
    .post
        width: calc(unquote("100% - 70px"))
        margin-left:35px
        .post-content-wrapper
            width: 500px
@media screen and (min-width: 980px)
    .post
        .post-content-wrapper
            width:600px
@media screen and (min-width: 1200px)
    .post 
        max-width:1100px
        margin-left:auto
        margin-right:auto
        .post-content-wrapper
            width: 900px

