.container
    background:url('/images/purpleBlur.jpg')
    background-position:center

.whiteblur
    background-color: #fff;
    height: 100%;
    opacity: 0.3;
    width: 100%;
    position: absolute;





.navbar { margin-bottom: 10px }
.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px;
}
#spinner { height: 300px }
.post {
    height:150px

    *zoom: 1;
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
    position: relative;
    opacity: 1;
}

