<template name="postSubmit">
  <form class="main centered-form" action="">
    <div class="form-contents">
    <div class="control-group">
      <div class="controls">
        {{#if notEditing}}
          <h3>Submit an Issue</h3>
        {{else}}
          <h3>Edit an Issue</h3>
        {{/if}}
      </div>
    </div>
      <div class="inner-forms">
        <div class="submit-background whiteblur"></div>
        <div class="submit-foreground">
          <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls"><input class="block-level" type="text" name="title" value="{{title}}" placeholder="Name Your Issue" /></div>
          </div>
          <div class="control-group">
            <label class="control-label" for="message">Details</label>
            <div class="controls"><textarea class="block-level" id="" name="message" rows="10" type="text">{{message}}</textarea></div>
          </div>
            <div class="control-group" id="post-submit-container">
              {{#if notEditing}}
                <input type="checkbox" name="anon" class="checkbox"><label for="anon">Post Anonymously</label>
                <div class="controls"><button class="btn btn-primary btn-block btn-large" type="submit">Submit</button></div>
              {{else}}
                <div class="controls"><input class="btn btn-primary btn-block btn-large" type="submit" value="Edit Issue" /></div>
              {{/if}}
            </div>
          <div class="control-group" id="select-tag">
            Tags<br/>
            {{#each tags}}
              <div class="tag-label-class">
                <input class="checkbox" id="{{_id}}" type="checkbox" name="tags" value="{{name}}" {{tagExists ../this}}>
                <label for={{_id}} class="filter">{{name}}</label>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

