<template name="postPage">
  {{#with currentPost}}
    {{> postItem}}
    {{> postDetail}}
    {{#if resolved}}
      {{> postResolution}}
    {{/if}}
    <div class="post">
      <div class = "whiteblur post-background"></div>
      <ul class="comments">
        {{#each comments}}
          {{> comment}}
        {{/each}}
      </ul>
      {{#if currentUser}}
        {{> commentSubmit}}
      {{else}}
        <p>Please log in to leave a comment</p>
      {{/if}}
    {{/with}}
  </div>
</template>

