  <template name="postItem">
  <div class="post">
    <div class="whiteblur post-background"></div>
      <div class="upvote-container {{upvotedClass}}">
      {{#if resolvedStatus}}
        <a class="upvote btn disabled btn-success" href="">Resolved</a>
      {{else}}
        <a class="upvote btn" href="">⬆ {{ pluralize votes "Vote" }}</a>
      {{/if}}
    </div>
    <div class="post-content-wrapper">
      <div class="post-content-container post-title-author">
        <div class="post-content">
          <a id="post-title" class="post-title" href="{{postPagePath this}}">{{title}}</a>
          <p>
            submitted by {{author}}
            <a class="post-comment" href="{{postPagePath this}}">{{commentsCount}} comments </a>
            {{#if canEdit}}<a href="{{postEditPath this}}">Edit</a>{{/if}}
          </p>
        </div>
      </div>
      <div class="post-buttons">
        {{#if isAdmin}} 
          <a class="discuss btn btn-danger delete" href="#">Delete Issue</a>
        {{#if canResolve}}
          <a class="discuss btn btn-primary" href="{{postResolvePath this}}">Resolve Issue</a>
        {{else}}}
          <a class="discuss btn btn-warning" href="{{postResolvePath this}}">Edit Resolution</a>
        {{/if}}
        {{/if}}
      </div>
    </div>
    {{#if hasPostTags}}
      <ul class="post-tags">
        {{#each tags}}
          <li>
            {{this}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</template>
