<template name="postSubmit">
  <form class="main" action="">
    <div class="control-group">
      <label for="url">URL</label>
      <div class="control-label"></div>
      <div class="controls"><input type="text" name="url" value="" placeholder="Your URL" /></div>
    </div>
    <div class="control-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls"><input type="text" name="title" value="" placeholder="Name your post" /></div>
    </div>
    <div class="control-group">
      <label class="control-label" for="message">Message</label>
      <div class="controls"><textarea id="" name="message" cols="30" rows="10" type="text" value=""></textarea></div>
    </div>
    <div class="control-group">
      <div class="controls"><input class="btn btn-primary" type="submit" value="Submit" /></div>
    </div>
  </form>
</template>

