<template name="newPosts">
  {{> postsList options}}
</template>
<template name="topPosts">
  {{> postsList options}}
</template>
<template name="resolvedPosts">
  {{> postsList options}}
</template>
<template name="postsList">
  <div class="posts">
    {{#if filtering}}
      Showing posts with tags: {{tagsList}}
    {{/if}}
    {{#each postsWithRank}}
      {{> postItem}}
    {{/each}}
    {{#if postsReady}}
        {{#unless allPostsLoaded}}
        <div class="load-more-container">
          <a class="load-more" href="#">Load more</a>
        </div>
        {{/unless}}
    {{else}}
    <div>{{> spinner}}</div> 
    {{/if}}
  </div>
</template>
