<template name="commentSubmit">
  <form class="comment-form" name="comment">
    <div class="control-group">
      <div class="controls">
        <label for="body"><h4>Comment on this post</h4></label>
        <textarea name="body" class="comment-text-box" rows="2" placeholder="Comment on this post..."></textarea>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="checkbox" id="anon" name="anon" class="anon"><label for="anon">Post Anonymously</label>
        <button class="btn btn-block" type="submit">Add Comment</button>
      </div>
    </div>
  </form>
</template>
